.fixed {
   position: fixed;
}
.flex {
   display: flex;
   &.center {
      justify-content: center;
      align-items: center;
   }
   &.ver-center {
      align-items: center;
   }
   &.hor-center {
      justify-content: center;
   }
   &.sp-between {
      justify-content: space-between;
   }
   &.sp-evenly {
      justify-content: space-evenly;
   }
   &.sp-around {
      justify-content: space-around;
   }
   &.sp-end {
      justify-content: flex-end;
   }
   &.flex-row {
      flex-direction: row;
   }
   &.flex-row-reverse {
      flex-direction: row-reverse;
   }
   &.flex-col {
      flex-direction: column;
   }
   @for $i from 5 to 20 {
      &.gap-#{$i} {
         gap: #{$i}px;
      }
   }
}

@for $i from 5 to 500 {
   .w-#{$i} {
      width: #{$i}px;
   }
   .h-#{$i} {
      height: #{$i}px;
   }
   .pd-#{$i} {
      padding: #{$i}px;
   }
}

.border {
   @for $i from 1 to 50 {
      &.rad-#{$i} {
         border-radius: #{$i}px;
      }
   }
   &.rad-circle {
      border-radius: 50%;
   }
}
