.account-management-page {
  margin: 0px 150px;
  padding: 20px 0px;
}

.account-management-page .user-info .common .avatar {
  width: 150px;
  height: 150px;
  background-color: #cee0f5;
  border-radius: 50%;
}

.account-management-page .user-info .common .real-name {
  padding: 15px;
}

.account-management-page .button-edit {
  background-color: #7bb3f4;
  padding: 0px 10px;
  height: 35px;
  margin: 7px 0px;
  border-radius: 3px;
}

.account-management-page .button-edit:hover {
  -webkit-box-shadow: 0 1px 3px #484242;
          box-shadow: 0 1px 3px #484242;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  background-color: #7bb3f4;
}

.account-management-page .works-wrapper {
  margin-top: 20px;
}

.account-management-page .works-wrapper .__col {
  border: 1px solid #87b8f0;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #cce1f4;
  -webkit-box-shadow: 0 1px 5px #7bb3f4;
          box-shadow: 0 1px 5px #7bb3f4;
  width: 50%;
}

.account-management-page .works-wrapper .__col h3 {
  text-align: center;
  padding: 10px 0px 20px 0px;
}

.account-management-page .works-wrapper .__col h4 {
  text-align: center;
  padding: 5px 0px 10px 0px;
}

.account-management-page .works-wrapper .__posted {
  margin-right: 7px;
}

.account-management-page .works-wrapper .__received {
  margin-left: 7px;
}

.account-management-page .works-wrapper .__work {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.account-management-page .works-wrapper .btn-wrapper {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.account-management-page .works-wrapper .btn-wrapper button {
  background-color: transparent;
}

.account-management-page .works-wrapper .btn-wrapper .more-content {
  padding: 20px;
}

.account-management-page .works-wrapper .btn-wrapper .btn-cancel {
  padding: 5px 10px;
}

.account-management-page .works-wrapper .btn-wrapper .btn-cancel:hover {
  -webkit-box-shadow: 0 1px 5px #7bb3f4;
          box-shadow: 0 1px 5px #7bb3f4;
}

.account-management-page .works-wrapper .btn-choose-wrapper .btn-choose {
  position: relative;
}

.account-management-page .works-wrapper .btn-choose-wrapper .edit-del-wrapper {
  position: absolute;
  margin-left: 25px;
  background-color: white;
  -webkit-box-shadow: 0 1px 5px #7bb3f4;
          box-shadow: 0 1px 5px #7bb3f4;
  display: none;
}

.account-management-page .works-wrapper .btn-choose-wrapper .edit-del-wrapper .btn-edit,
.account-management-page .works-wrapper .btn-choose-wrapper .edit-del-wrapper .btn-del {
  padding: 5px 10px;
  border-bottom: 1px solid #7bb3f4;
}

.account-management-page .works-wrapper .btn-choose-wrapper .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=AccountManagement.css.map */