@import "assets/scss/responsive";
.account-management-page {
   margin: 0px 150px;
   padding: 20px 0px;
   .user-info {
      .common {
         .avatar {
            width: 150px;
            height: 150px;
            background-color: #cee0f5;
            border-radius: 50%;
         }
         .real-name {
            padding: 15px;
         }
      }
   }
   .button-edit {
      background-color: #7bb3f4;
      padding: 0px 10px;
      height: 35px;
      margin: 7px 0px;
      border-radius: 3px;
      &:hover {
         box-shadow: 0 1px 3px rgb(72, 66, 66);
         transition: 0.1s;
         background-color: #7bb3f4;
      }
   }
   .works-wrapper {
      margin-top: 20px;
      .__col {
         border-radius: 5px;
         padding: 10px 20px;
         background-color: #cce1f4;
         box-shadow: 0 1px 5px #2e86eb;
         width: 50%;
         h3 {
            text-align: center;
            padding: 10px 0px 20px 0px;
         }
         h4 {
            text-align: center;
            padding: 5px 0px 10px 0px;
         }
      }
      .__posted {
         margin-right: 7px;
      }
      .__received {
         margin-left: 7px;
      }
      .__work {
         background-color: white;
         padding: 10px;
         border-radius: 5px;
         margin-bottom: 10px;
      }
      .btn-wrapper {
         justify-content: flex-end;
         button {
            background-color: transparent;
            padding: 3px 10px;
            border-bottom: 2px solid #ffffff;
            &:hover {
               border-bottom: 2px solid #2e86eb;
            }
         }
         .more-content {
            padding: 20px;
         }
      }
   }
}
@include responsive_992 {
   .account-management-page {
      margin: 0px 100px !important;
   }
}
@include responsive_768 {
   .account-management-page {
      margin: 0px 50px !important;
   }
   .avatar {
      width: 130px !important;
      height: 130px !important;
   }
   .button-edit {
      font-size: 17px !important;
      height: 31px !important;
   }
}
@include responsive_576 {
   .account-management-page {
      margin: 0px 50px !important;
   }
   .works-wrapper {
      display: block !important;
      .__col {
         width: 100% !important;
      }
   }
   .avatar {
      width: 130px !important;
      height: 130px !important;
   }
   .button-edit {
      font-size: 17px !important;
      height: 31px !important;
   }
   .__posted {
      margin-right: 0px !important;
   }
   .__received {
      margin-left: 0px !important;
      margin-top: 30px;
   }
}
@include responsive_320 {
   .account-management-page {
      margin: 0px 10px !important;
   }
   .user-info {
      display: block !important;
      .real-name {
         h2 {
            font-size: 23px;
         }
         p {
            font-size: 18px;
         }
      }
      .avatar {
         width: 100px !important;
         height: 100px !important;
      }
   }
   .works-wrapper {
      display: block !important;
      .__col {
         width: 100% !important;
      }
   }
   .button-edit {
      font-size: 17px !important;
      height: 31px !important;
   }
   .__posted {
      margin-right: 0px !important;
   }
   .__received {
      margin-left: 0px !important;
      margin-top: 30px;
   }
}
