@import "assets/scss/vars";
@import "assets/scss/responsive";

.work-posting-page {
   // height: $maxHei;
   // overflow: hidden;
   .left {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .--card {
      background-color: lighten($color: #c7e3ee, $amount: 4);
      width: 90%;
      padding: 30px 100px;
      box-shadow: 0 1px 5px #2c92ba;
      border-radius: 5px;
      h2 {
         text-align: center;
      }
      .--form {
         width: 100%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         .--input-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px 0px;
            width: 100%;
            .time-label {
               font-size: 17px;
            }
            input,
            select,
            textarea {
               border: 1px solid #368db0;
               outline: none;
               border-radius: 3px;
               min-width: 145px;
               padding: 5px 3px;
               color: #368db0;
               font-family: inherit;
               font-size: 1em;
               margin-left: 5px;
            }
            .work-name {
               width: 85%;
            }
            .content {
               height: 120px !important;
               width: 85%;
            }
            .time,
            .amount {
               width: 200px;
            }
            .wage {
               width: 37%;
            }
            .address {
               width: 53%;
            }
         }
         .confirm-btn {
            border: none;
            background-color: #368db0;
            padding: 7px 0;
            width: 20%;
            cursor: pointer;
            font-size: 18px;
            color: white;
            border-radius: 3px;
            font-family: inherit;
            margin-top: 20px;
            &:hover {
               box-shadow: 0 1px 3px rgb(62, 60, 60);
               transition: 0.1s;
            }
         }
      }
   }

   .right {
      background-color: #d0e7fb;
      width: 30%;
      height: $maxHei;
      overflow-y: auto;
      padding-bottom: 20px;
      position: relative;
      box-shadow: 0 1px 5px #368db0;
      .title {
         padding: 20px 0px 10px 0px;
         text-align: center;
         position: sticky;
         top: 0;
         background-color: #d0e7fb;
      }
      .posted {
         margin: 15px;
         border-radius: 5px;
         padding: 10px;
         background-color: white;
         box-shadow: 0 1px 5px #368db0;
         h4 {
            padding: 3px 0px 10px 0px;
         }
         a {
            font-size: 16px;
         }
      }
   }
}
@include responsive_1200 {
   .time,
   .amount {
      width: 175px !important;
   }
   .address {
      width: 51% !important;
   }
}
@include responsive_1024 {
   .--card {
      padding: 30px 60px !important;
   }
   .time,
   .amount {
      width: 170px !important;
   }
   .address {
      width: 50% !important;
   }
}
@include responsive_992 {
   .--card {
      padding: 30px 60px !important;
   }
   .time,
   .amount {
      width: 160px !important;
   }
   .address {
      width: 50% !important;
   }
}
@include responsive_768 {
   .edit-bl {
      display: block !important;
   }
   .--card {
      width: 100% !important;
      padding: 30px 60px !important;
      .--form {
         width: 90% !important;
         .--input-wrapper {
            width: 100% !important;
         }
      }
   }
   .time,
   .amount {
      width: 130px !important;
   }
   .address {
      width: 47% !important;
   }
   .work-posting-page {
      overflow: auto;
   }
   .left {
      width: 100% !important;
   }
   .right {
      display: none;
   }
}
@include responsive_576 {
   .--card {
      width: 95% !important;
      padding: 20px 30px !important;
      .--form {
         width: 100% !important;
         .--input-wrapper {
            width: 100% !important;
         }
      }
   }
   .time,
   .amount {
      width: 140px !important;
   }
   .wage {
      width: 36% !important;
   }
   .address {
      width: 47% !important;
   }
   .left {
      width: 100% !important;
   }
   .right {
      display: none;
   }
}
@include responsive_320 {
   .edit-bl {
      display: block !important;
   }
   .--card {
      width: 100% !important;
      padding: 30px 20px !important;
      .--form {
         width: 90% !important;
         .--input-wrapper {
            width: 100% !important;
         }
      }
   }
   .res-320 {
      display: block !important;
      input,
      select,
      textarea {
         width: 100% !important;
      }
      .time-label {
         font-size: 16px;
      }
      select {
         margin-bottom: 10px;
      }
   }
   .confirm-btn {
      width: 80px !important;
   }
   .time,
   .amount {
      width: 100px !important;
   }
   .address {
      width: 50% !important;
   }
   .work-posting-page {
      overflow: auto;
   }
   .left {
      width: 100% !important;
   }
   .right {
      display: none;
   }
}
