@import "assets/scss/vars";
@import "assets/scss/responsive";

.home-page {
   background-image: linear-gradient(-200deg, #c6e2fa, #fff8e6, #ffe9b3, #ffdb80, #ffcc4d, #c5bef4, #9e92ed, #7766e5);
   .sticky-wrapper {
      position: sticky;
      top: 0;
      overflow: hidden;
      .work-image {
         width: 50%;
         position: absolute;
         bottom: -50px;
         z-index: 1;
      }
      header {
         z-index: 20;
         position: absolute;
         top: 0;
         background-color: transparent;
         width: 100%;
         padding: 10px $gapCol;
         .logo {
            font-family: "Dancing Script", cursive;
            font-size: 50px;
         }
         nav a {
            margin-left: 20px;
            font-size: 21px;
            padding: 5px 10px;
            border: 1px solid black;
            transition: 0.1s;
            &:hover {
               box-shadow: 0 1px 5px black;
            }
         }
      }
      .btn-link {
         position: absolute;
         bottom: 20px;
         right: 7%;
         z-index: 20;
         // background-image: url("~assets/images/cloud.png");
         background-size: contain;
         background-repeat: no-repeat;
         font-size: 2.5vw;
         transition: color 0.3s;
         width: 200px;
         animation: fly 3s ease-in-out infinite;
         &:hover {
            color: rgb(247, 126, 171);
         }
         .btn-name {
            position: absolute;
         }
      }
   }

   .screen {
      flex: 0 0 100%;
      height: 100vh;

      &.screen-morning {
         .sun-image {
            width: 10%;
            position: absolute;
            right: 100px;
            z-index: 1;
         }
      }
      &.screen-night {
         gap: 30px;
         .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 270px;
            height: 350px;
            border-radius: 7px;
            background-color: white;
            padding: 20px;
            .join-btn {
               border: 1px solid;
               padding: 1px 4px;
               display: inline-block;
               transition: 0.1s;
               &:hover {
                  box-shadow: 0 1px 3px black;
               }
            }
         }
      }
   }
}
@include responsive_992 {
   .screen-night {
      gap: 20px !important;
      .card {
         width: 250px !important;
         height: 330px !important;
         h1 {
            font-size: 25px;
         }
      }
   }
   .cloud-image {
      width: 150px;
   }
}
@include responsive_768 {
   .logo {
      font-size: 40px !important;
   }
   nav a {
      font-size: 17px !important;
   }
   .moon-image {
      width: 55px !important;
   }
   .screen-night {
      gap: 12px !important;
      .card {
         width: 200px !important;
         height: 280px !important;
         h1 {
            font-size: 20px;
         }
      }
      .first-card {
         h2 {
            font-size: 25px;
         }
         p {
            font-size: 17px;
         }
      }
   }
   .cloud-image {
      width: 120px;
   }
   .poster {
      h1 {
         font-size: 25px;
      }
      img {
         width: 270px !important;
      }
   }
}
@include responsive_576 {
   .logo {
      font-size: 40px !important;
   }
   nav a {
      font-size: 17px !important;
   }
   .moon-image {
      width: 40px !important;
   }
   .screen-night {
      gap: 10px !important;
      .card {
         width: 150px !important;
         height: 235px !important;
         h1 {
            font-size: 18px;
         }
         .join-btn {
            font-size: 15px;
         }
      }
      .first-card {
         h2 {
            font-size: 22px;
         }
         p {
            font-size: 17px;
         }
      }
   }
   .cloud-image {
      width: 120px;
   }
   .btn-name {
      font-size: 18px;
   }
   .poster {
      h1 {
         font-size: 22px;
      }
      img {
         width: 250px !important;
      }
   }
}
@include responsive_320 {
   .logo {
      font-size: 40px !important;
   }
   .work-image {
      bottom: -20px !important;
      width: 60% !important;
   }
   nav a {
      font-size: 17px !important;
   }
   .moon-image {
      width: 40px !important;
   }
   .screen-night {
      gap: 10px !important;
      .card {
         width: 150px !important;
         height: 235px !important;
         h1 {
            font-size: 18px;
         }
         .join-btn {
            font-size: 15px;
         }
      }
      .first-card {
         h2 {
            font-size: 22px;
         }
         p {
            font-size: 17px;
         }
      }
   }
   .cloud-image {
      width: 120px;
   }
   .btn-name {
      font-size: 18px;
   }
   .poster {
      margin-left: 150px;
      h1 {
         font-size: 22px;
      }
      img {
         width: 200px !important;
      }
   }
}

@keyframes fly {
   0% {
      transform: translateX(25px);
   }
   50% {
      transform: translateX(0px);
   }
   100% {
      transform: translateX(25px);
   }
}
