.login-page {
   height: 100vh;
   .col {
      flex: 0 0 50%;
      height: 100%;
      overflow: hidden;
   }

   .--card {
      border-radius: 10px;
      background-color: #ece9fb;
      width: 60%;
      padding: 30px 40px;
      box-shadow: 0 0 5px 3px #9e92ed;
      h2 {
         text-align: center;
         margin: 10px;
      }
      .--form {
         width: 100%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         margin-bottom: 10px;
         .--input-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px 0px;
            width: 100%;
            input {
               border: 1px solid #9e92ed;
               outline: none;
               border-radius: 3px;
               width: 100%;
               min-width: 145px;
               padding: 5px 3px;
               color: #3721c4;
               font-family: inherit;
               font-size: 1em;
               margin-left: 5px;
            }
         }
         .forgot-pw {
            text-decoration: underline;
            font-size: 15px;
         }
         .submit-btn {
            border: none;
            background-color: #9e92ed;
            padding: 7px 0;
            width: 40%;
            cursor: pointer;
            margin: 25px 0px 15px 0px;
            font-size: 18px;
            color: white;
            border-radius: 3px;
            font-family: inherit;
         }
      }
      hr {
         width: 90%;
         border: 0.25px solid #9e92ed;
         min-width: 190px;
         margin: 15px 0px 10px 0px;
      }
      .social-login {
         display: flex;
         justify-content: center;
         width: 90%;
         min-width: 190px;
         background-color: #9e92ed;
         margin: 10px 0px;
         padding: 5px 0;
         border-radius: 5px;
         color: white;
         svg {
            font-size: 20px;
            margin-right: 3px;
         }
         &.gg-login {
            svg {
               color: red;
            }
         }
         &.fb-login {
            svg {
               color: blue;
            }
         }
      }
      p {
         font-size: 16px;
         margin-top: 10px;
      }
   }

   .right {
      text-align: center;
      a {
         font-family: "Dancing Script", cursive;
         display: block;
         font-size: 40px;
         margin-top: 30px;
      }
      .login-image {
         width: 90%;
         object-fit: cover;
      }
      .logo {
         width: 100px;
         margin-top: 15px;
      }
   }
}
