@import "assets/scss/vars";
@import "assets/scss/responsive";

.login-page {
   height: $maxHei;
   .col {
      flex: 0 0 50%;
      height: 100%;
      overflow: hidden;
   }

   .--card {
      border-radius: 10px;
      background-color: #ece9fb;
      width: 60%;
      padding: 30px 40px;
      box-shadow: 0 2px 7px #7663f1;
      h2 {
         text-align: center;
         margin: 10px;
      }
      .--form {
         width: 100%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         margin-bottom: 10px;
         .--input-wrapper {
            display: flex;
            justify-content: center;
            margin: 10px 0px;
            width: 100%;
            input {
               border: 1px solid #9e92ed;
               outline: none;
               border-radius: 3px;
               width: 90%;
               min-width: 145px;
               padding: 5px 3px;
               color: #3721c4;
               font-family: inherit;
               font-size: 17px;
            }
         }
         .forgot-pw {
            text-decoration: underline;
            font-size: 15px;
         }
         .submit-btn {
            border: none;
            background-color: #9e92ed;
            padding: 7px 0;
            width: 40%;
            cursor: pointer;
            margin: 25px 0px 15px 0px;
            font-size: 18px;
            color: white;
            border-radius: 3px;
            font-family: inherit;
            &:hover {
               transition: 0.1s;
               box-shadow: 0 1px 3px #1b1b1e;
            }
         }
      }
      hr {
         width: 90%;
         border: 0.25px solid #9e92ed;
         min-width: 190px;
         margin: 15px 0px 10px 0px;
      }
      .social-login {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 90%;
         min-width: 190px;
         background-color: #9e92ed;
         margin: 10px 0px;
         padding: 5px 0;
         border-radius: 5px;
         color: white;
         font-size: 17px;
         &:hover {
            transition: 0.1s;
            box-shadow: 0 1px 3px #1b1b1e;
         }
         svg {
            font-size: 20px;
            margin-right: 3px;
         }
         &.gg-login {
            svg {
               color: red;
            }
         }
         &.fb-login {
            svg {
               color: blue;
            }
         }
      }
      p {
         font-size: 16px;
         margin-top: 10px;
      }
   }

   .right {
      text-align: center;
      padding-top: 3%;
      display: flex;
      align-items: center;
      justify-content: center;
      .login-image {
         width: 75%;
         object-fit: cover;
      }
   }
}
@include responsive_768 {
   .left {
      display: flex;
      align-items: center;
      justify-content: center;
      .--card {
         width: 80% !important;
         padding: 30px 40px !important;
      }
   }
}
@include responsive_576 {
   .login-page {
      display: block !important;
      .left {
         display: flex;
         align-items: center;
         justify-content: center;
      }
      .--card {
         width: 55% !important;
      }
   }
   .right {
      display: none !important;
   }
}
@include responsive_320 {
   .login-page {
      display: block !important;
      .left {
         display: flex;
         align-items: center;
         justify-content: center;
      }
      .--card {
         width: 80% !important;
      }
   }
   .right {
      display: none !important;
   }
}
