@import "assets/scss/responsive";
@import "assets/scss/vars";
.main {
   min-height: $maxHei;
   padding: 0 $gapCol;
}
.acc-manager-page {
   min-height: $maxHei;
   // padding: 15px 0px;
   width: 100%;
   .user-info {
      position: sticky;
      top: $headerHei;
      height: $maxHei;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      flex: 0 0 20%;
      padding-top: 10px;
      .common {
         margin-bottom: 10px;
         display: flex;
         flex-direction: column;
         align-items: center;
         .avatar {
            $avtSize: 180px;
            width: $avtSize;
            height: $avtSize;
            background-color: #cee0f5;
            border-radius: 50%;
            overflow: hidden;
         }
         .real-name {
            padding: 5px;
         }
      }
   }
   .button-edit {
      background-color: #a97300;
      color: white;
      padding: 0px 10px;
      height: 35px;
      margin: 7px 0px;
      border-radius: 3px;
      &:hover {
         box-shadow: 0 1px 3px lighten(#a97300, 5);
         transition: 0.1s;
         background-color: lighten(#a97300, 10);
      }
   }
   .works-wrapper {
      margin-top: 20px;
      .__col {
         border-radius: 5px;
         padding: 10px 20px;
         background-color: #cce1f4;
         box-shadow: 0 1px 5px #2e86eb;
         width: 50%;
         h3 {
            text-align: center;
            padding: 10px 0px 20px 0px;
         }
         h4 {
            text-align: center;
            padding: 5px 0px 10px 0px;
         }
      }
      .__posted {
         margin-right: 7px;
      }
      .__received {
         margin-left: 7px;
      }
      .__work {
         background-color: white;
         padding: 10px;
         border-radius: 5px;
         margin-bottom: 10px;
      }
      .btn-wrapper {
         justify-content: flex-end;
         button {
            background-color: transparent;
            padding: 3px 10px;
            border-bottom: 2px solid #ffffff;
            &:hover {
               border-bottom: 2px solid #2e86eb;
            }
         }
         .more-content {
            padding: 20px;
         }
      }
   }
}
@media screen and (max-width: 768px) {
   .acc-manager-page {
      flex-direction: column;
      align-items: center;
      .user-info {
         position: static;
         height: auto;
         width: 100%;
         text-align: center;
         border-bottom: 2px dotted;
         .common {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            gap: 20px;
            background-color: #d2fff6;
            padding: 10px 0;
            margin-top: 10px;
            border-radius: 7px;
         }
         .edit {
            flex-direction: row;
            gap: 20px;
            margin: 10px 0;
         }
      }
      .work-show {
         grid-template-columns: 1fr !important;
      }
   }
}
@include responsive_992 {
   .account-management-page {
      margin: 0px 100px !important;
   }
}
@include responsive_768 {
   .avatar {
      width: 130px !important;
      height: 130px !important;
   }
   .button-edit {
      font-size: 17px !important;
      height: 31px !important;
   }
}
@include responsive_576 {
   .account-management-page {
      margin: 0px 50px !important;
   }
   .works-wrapper {
      display: block !important;
      .__col {
         width: 100% !important;
      }
   }
   .avatar {
      width: 130px !important;
      height: 130px !important;
   }
   .button-edit {
      font-size: 17px !important;
      height: 31px !important;
   }
   .__posted {
      margin-right: 0px !important;
   }
   .__received {
      margin-left: 0px !important;
      margin-top: 30px;
   }
}
@include responsive_320 {
   .account-management-page {
      margin: 0px 10px !important;
   }
   .user-info {
      display: block !important;
      .real-name {
         h2 {
            font-size: 23px;
         }
         p {
            font-size: 18px;
         }
      }
      .avatar {
         width: 100px !important;
         height: 100px !important;
      }
   }
   .works-wrapper {
      display: block !important;
      .__col {
         width: 100% !important;
      }
   }
   .button-edit {
      font-size: 17px !important;
      height: 31px !important;
   }
   .__posted {
      margin-right: 0px !important;
   }
   .__received {
      margin-left: 0px !important;
      margin-top: 30px;
   }
}
